.bg-contain {
  background-size: contain !important;
}

.bg-no-repeat {
  background-repeat: no-repeat !important;
}

.bg-center {
  background-position: center !important;
}

.list-style-type-none {
  list-style-type: none;
}

.border-radius-0 {
  border-radius: 0;
}

.text-lg {
  font-size: 1.2rem;
}

