// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: 'Roboto', sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;

$theme-colors: (
        'primary': #7d8fc9, //rgb(112, 185, 239),
        //'light' : #000,
        'success' : #31c3a2
);
$enable-rounded: false;

$navbar-light-color: #000;
$navbar-light-hover-color: rgba(0, 0, 0, .5);

$shadow-color: rgba(0, 0, 0, .04);

$white: #fff;

$transparent-color: rgba(245, 245, 245, 1);