$footer-background-color: #f5f5f5;

// Footer
html {
  min-height: 100%;
  position: relative;
}

body {
  margin-bottom: 50px;
  // Margin bottom by footer height
  padding-bottom: 3rem;
}

#app {
  // But also accounting for potential margin-bottom of last child
  margin-bottom: -50px;
  min-height: 100%;
  // Equal to height of footer
}

.footer {
  background-color: $footer-background-color;
  bottom: 0;
  height: 50px;
  // Set the fixed height of the footer here
  line-height: 50px;
  // Vertically center the text there
  position: absolute;
  width: 100%;
}